- we can store the output values by using append operations

- we are taking empty list ans we are iterating through elments from the given list

- the result we are appnedung in a new list

In [1]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- the three lines we can make it to a single line

- this is called as List Comprehension

$$pattern-1$$

**only for loop**

In [ ]:
# syntax 
# [<output><for loop>]

In [3]:
squ_list=[i*i for i in range(10)]
squ_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
# l1=['hyd','mumbai','chennai','blr']

#ans=['Hyd','Mumbai',Chennai,'Blr']

l1=['hyd','mumbai','chennai','blr']
ans=[]
for i in l1:
    ans.append(i.upper())
ans

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [8]:
l1=['hyd','mumbai','chennai','blr']
ans1=[i.upper() for i in l1]
ans1

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [9]:
l2=['HYD', 'MUMBAI', 'CHENNAI', 'BLR']
ans2=[i.lower() for i in l2]
ans2

['hyd', 'mumbai', 'chennai', 'blr']

In [16]:
l1=['hyd','mumbai','chennai','blr']
summ=0
summ=[summ+i for i in range(len(l1))]
sum(summ)

6

In [20]:
l1=['hyd','mumbai','chennai','blr']
l2=[]
summ=0
for i in range(len(l1)):
    l2.append(i)
l2

[0, 1, 2, 3]

In [21]:
l1=['hyd','mumbai','chennai','blr']
l2=[l1.index(i) for i in l1]
sum(l2)

6

$$ pattern-2$$

**for loop and if condition**

In [22]:
# syntax
# [<output> <for loop> <if condition>]

In [25]:
# l1=['Hyd','Mumbai','Chennai',Blr]
# ans=['Mumbai','Chennai']
l1=['Hyd','Mumbai','Chennai','Blr']
for i in l1:
    if len(i)>4:
        print(i)

Mumbai
Chennai

In [26]:
ans=[i for i in l1 if len(i)>4]
ans

['Mumbai', 'Chennai']

In [27]:
l1=['Hyd','Mum#bai','Chen#nai','Blr']
ans=[i for i in l1 if '#' in i]
ans

['Mum#bai', 'Chen#nai']

In [28]:
l1=['Hyd','Mum#bai','Chen#nai','Blr']
ans=[i for i in l1 if '#' not in i]
ans

['Hyd', 'Blr']

In [21]:
str1='virat.kohli@rcb.com,Rohit.sharma@mi.co,KL.Rahul@Lucknw.com'
list1=str1.split(',')
li=list1[0][:list1[0].index('.')+1:list1[0].index('@')]
li=list1[1][:list1[1].index('.')+1:list1[1].index('@')]
li=list1[2][:list1[2].index('.')+1:list1[2].index('@')]
first_name=[]
second_name=[]
second_name.append(li)
for i in list1:
    first_name.append(i[:i.index('.')])
    second_name.append(i[:i.index('.')+1:i.index('@')])
first_name

['virat', 'Rohit', 'KL']

In [22]:
second_name

['K', 'v', 'R', 'K']

**Lambda functions**

- case-1 : function call with one arugument
    
    - lambda aruguments: expression
    
    - lambda variable: return output

- case-2 : functon call with two aruguments
    
    - lambda arg1,arg2:expression
    
    - lambda va1,var2: return output
    
- case-3 : function call with default aruguments
    
    - lambda arg1,arg2=500:expression
    
    - lambda var1,var2=500: return output

- case-4 : funtion call with two aruguments and is-else statement
    
    - lambda arg1,arg2:expression
    
    - lambda va1,var2: if_output if_con else else_out for loop

- case-5 : lambda operations using list
    
    - lambda arg: Expression,iterator
    
    - map(lambda var: operations,list)
    
    - list(map(lambda:operation,list))

In [1]:
l=['hyd','chennai','mumbai']
list1=list(map(lambda x:x.upper(),l))
list1

['HYD', 'CHENNAI', 'MUMBAI']

In [7]:
l1=['hyd','che#nnai','mum#bai','blr']
list1=list(map(lambda x:'#' in x,l1))
list1

[False, True, True, False]

**Filter**

- whenever if conditios are there use filters

In [8]:
l1=['hyd','che#nnai','mum#bai','blr']
list1=list(filter(lambda x:'#' in x,l1))
list1

['che#nnai', 'mum#bai']

In [9]:
numbers=[1,3,2,7,6]
li=list(filter(lambda x: x%2==0,numbers))
li

[2, 6]

In [13]:
numbers=[1,3,2,7,6]
li=list(filter(lambda summ,x: summ+x,numbers))
li

TypeError: <lambda>() missing 1 required positional argument: 'x'

**Reduce**

- all builtin functions aer the acheiev by reduce

- reduce will avaiable from functools package

- level-1: reduce(lambda summ,x: summ+x,numbers)
    
- level-2: filter(lambda summ,x: summ+x,numbers,intial_value)

- for example we want to intialize summ=0 then we choose leve-1

- for example we want start with other than zero than we choose level-2

In [15]:
import functools

In [16]:
dir(functools)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [23]:
from functools import reduce
numbers=[1,3,2,7,6]
reduce(lambda summ,x: summ+x,numbers)

19

In [25]:
import functools
numbers=[1,3,2,7,6]
functools.reduce(lambda summ,x: summ+x,numbers,10)

29

In [26]:
import functools as ft
numbers=[1,3,2,7,6]
ft.reduce(lambda summ,x: summ+x,numbers)

19

In [30]:
from functools import reduce
numbers=[1,3,2,7,6]
reduce(lambda mul,x: mul*x,numbers)

252

In [41]:
from functools import reduce
numbers=[1,3,2,7,6]
reduce(lambda x,y: x>y,numbers)

False