In [1]:
print(10)

10

In [2]:
print('python')

python

In [3]:
print(10,10.5,'naresh it', True)

10 10.5 naresh it True

In [4]:
print(10),print(20)

10
20

(None, None)

In [5]:
a=100
b=200
c=a+b
print("the addition of{} and {} is {}".format(a,b,c))

the addition of100 and 200 is 300

In [7]:
name='mani'
age=23
city='addanki'
print("my name is {},im {} years old im form {}".format(name,age,city))

my name is mani,im 23 years old im form addanki

In [8]:
a=100
b=200
c=a+b
print(f"the addition of {a} and {b} is {c}")

the addition of 100 and 200 is 300

In [6]:
num1=100
num2=200
average= (num1+num2)/2
print(f"the average of {num1} and {num2} is : {int(average)}")

the average of 100 and 200 is : 150

In [10]:
#take radius of circle 
#take a pi value = 3.14
#find the area of circle  pi*r*r
radius=10
pi=3.14
area=pi*radius*radius
print(f"the area of circle is : {area}")
print(area)

the area of circle is : 314.0
314.0

In [13]:
#takethe base of triangle 
# take the height of the triangle
#area of triangle is =1/2*base*height
base=15
height=10
area=1/2*base*height
print(f"area of triangle is : {area}")

area of triangle is : 75.0

In [25]:
#take the bill amount
#take a tip percentage 
#calculte tip bill
#calculte total bill

bill_amount=1000
tip_percentage=10
tip_bill = bill_amount*(tip_percentage)/100
print("tip for the waiter:",tip_bill)
print("total bill is:",bill_amount+tip_bill)

tip for the waiter: 100.0
total bill is: 1100.0

**end operator**

- combining two print statements and it prints side by side untill the end

In [28]:
print(10,end=' ')
print(20,end='')

10 20

**separator operator**

- seperate the multiple values in a single print statement

In [32]:
print(10,20,30,sep=" & ")

10 & 20 & 30

In [33]:
print('the addition of the 5 and 3 is 8','.')

the addition of the 5 and 3 is 8 .

In [35]:
print('the addition of the 5 and 3 is 8','.',sep='')

the addition of the 5 and 3 is 8.